<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-color: firebrick;
}

#service {
  height: 200vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#clients {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 82%;
}

#clients article {
  height: 308px;
  width: 256px;
  background-color: rgb(214, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The figure elements  */

#clients article figure {
  height: 150px;
  width: 90%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: -20px;
}

/* Because the images have different sizes each one of them has its own height and top margin */
#clients article:first-of-type img {
  height: 100%;

  margin-top: 25px;
}

#clients article:nth-of-type(2) img {
  height: 280%;
  margin-top: 10px;
}

#clients article:nth-of-type(3) img {
  height: 250%;
  margin-top: 20px;
}
=======
body {
    width: 80%;
    margin: auto;
    background-color: #ebebeb;
    /* a simple border to keep track of the body, delete when finished */
    border: solid 2px black;
}

/* background .class for all the elements with blue background */
.babyblue {
    background-color: #c7ddea;
}

/* background .class for all the elements with red background */
.red {
    background-color: #f17949;
}

/* background .class for all the elements with yellow background */
.yellow {
    background-color: #ffb939;
}

/* background .class for all the elements with white background */
.white {
    background-color: white;
}

/* background .class for all the elements with lightgrey background */
.lightgrey {
    background-color: #ebebeb;
}

/* background .class for all the elements with middlegrey background */
.middlegrey {
    background-color: #a9a19e;
}

/* background .class for all the elements with darkgrey background */
.darkgrey {
    background-color: #777574;
}

/* background .class for the elements with gradient grey/yellow background */
.splitgradientback {
    background: linear-gradient(
        to top,
        #ffb939 0%,
        #ffb939 47.3%,
        #a9a19e 47.3%,
        #a9a19e 100%
    )
}

/* !!TEMPORARY!! JUST TO FIT THE IMAGES INTO THE BODY FOR NOW, DELETE IN THE FUTURE */
img {
    width: 100%;
    height: auto;
}
>>>>>>> 4a7f05a61c05489e16e1391a28a61ee3dcf63e90
