* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
}

/* Header: Not sure if we should keep 100 viewport height eller byta till px */
/* The over flow is just to hide the exces of the image*/
/* Color to be changer accordinely */

header {
  height: 100vh;
  background-color: firebrick;
  overflow: hidden;
}

/* Not sure about using id instead of class */
/* the height is double the veiwport so that each half part of the  */
/* FlexBox has been used to centrelize the three parts inside this section */
#service {
  height: 1292px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* First div of the service section */
#safety {
  display: grid;
  width: 82%;
  height: 237px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 5rem;
}

#safety p {
  grid-column: 2 /3;
  grid-row: 1/3;
  margin: 3rem 3rem;

  /* the font is not working */

  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#safety h1 {
  font-family: Frank Ruhl Libre;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 3rem 3rem 0 1rem;
}

#safety button {
  width: 131px;
  height: 39px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.67);
  margin-left: 1rem;

  font-family: Fira Sans;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}

/* This is the container of three types of clients (3 articles) */
#clients {
  display: flex;
  justify-content: space-between;
  width: 82%;
}

/* Not sure about the height if it should be px or depending on the viewport */
#clients article {
  height: 308px;
  width: 256px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  /* This part has been directly copied from Figma */
  /* the font is not working */
  font-family: Fira Sans;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

/* The figure elements  */
/* Flex box is been used to centralize the picture inside the figure (margin did not work) */
/* Overflow is been used to hide the excess of the img outside of the figure element*/
/* Margin has a negative value to pull the figure outside of the article element */
#clients article figure {
  height: 150px;
  width: 90%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: -20px;
  border-radius: 5px;
}

/* Because the images have different sizes each one of them has its own height and top margin */
#clients article:first-of-type img {
  height: 100%;
  margin-top: 25px;
}

#clients article:nth-of-type(2) img {
  height: 280%;
  margin-top: 10px;
}

#clients article:nth-of-type(3) img {
  height: 250%;
  margin-top: 20px;
}

#clients article p {
  padding: 1rem;
  color: rgba(0, 0, 0, 40%);
}

#clients article h3 {
  margin-top: 1rem;
  /* This part has been directly copied from Figma */
  font-family: Frank Ruhl Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}
